#flex-outer {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.menu-lateral{
    width: 250px;
    background-color: #DAB798;
    padding: 15px;
}

.content-section-estoque{
    flex-direction: column;
    width: 100%;
}

.busca-section-estoque{
}
.table-section-estoque{
    border: 3px solid #5A493A ;
    border-radius: 15px;
    margin: 30px;
    padding: 0 10px;
    background-color: rgba(218, 183, 152, .25);
}

.table tr td button {
    margin: 0;

}