.menu-lateral{
    width: 250px;
    height: 100%;
    position: fixed;
    left: 0;
    background-color: #DAB798;
}

.content-section-estoque{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.busca-section-estoque{
    width: 100%;
    height: 10%;
}
.table-section-estoque{
    width: 100%;
    height: 80%;
}
.btns-section-estoque{
    width: 100%;
    height: 10%;
}