@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");
:root {
  --brown-custom: #5a493a;
  --pink-custom: #ffabc4;
  --cream-custom: #fffef2;
}
body{
    width: 100%;
    height: 100%;
    font-family: 'Comfortaa', cursive !important;
    background-color: var(--cream-custom) !important;
}

.containerLogin{
  width: 100%;
  height: 100%;
  display: flex;
  margin-top: 50px;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.navbar-brand{
    font-size: 24px !important;
}

.navbar-brand-custom{
    font-size: 36px !important;
    font-weight: bold !important;
    padding: 0px !important;
}
nav ul li div a {
    font-size:  18px;
}

.bg-brown {
  background-color: var(--brown-custom);
}
.bg-cream {
  background-color: var(--cream-custom);
}
.bg-pink{
    background-color: var(--pink-custom);
}

.btnPink {
  background-color: #f9e3e7;
}

.btnOutlineBrown{
    margin: 0 30px;
    font-size: 24px;
    border: 3px solid #5A493A ;
}

.form-login{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  width: 400px;
  height: 360px;
  background-color: var(--brown-custom);
  /*opacity: 0.8;*/
  border-radius: 15px;
  color: var(--cream-custom);
}

.form-login input{
  width: 100%;
  height: 45px;
  margin: 15px 0;
}

.form-login button {
  border-radius: 7px;
  width: 240px;
  height: auto;
  align-self: center;
}

.welcome-header{
    margin: 40px 30px;
    font-size: 36px;
}

.relevant-section {
  background-color: var(--pink-custom);
  height: 300px;
  width: 100%;
}


.relevant-card{
    background-color: var(--cream-custom);
    border: 3px solid var(--brown-custom) ;
    border-bottom: 60px solid var(--brown-custom);
    border-radius: 23px;
    width: 360px;
    height: 200px;
}

.relevant-card-content {
  height: 140px;
  color: var(--brown-custom);
  font-size: 12px;
}

.relevant-card-footer {
  height: 60px;
  color: var(--cream-custom);
  font-size: 12px;
}

.options-section{
    padding: 60px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.option-card{
    background-color: var(--brown-custom);
    border: 10px solid var(--pink-custom);
    width: 300px;
    height: 210px;
    border-radius: 15px;
}

.navbar-custom{
    border-radius: 0px !important;
}

.container-centralizado {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#tabelaFornecedor {
  margin-top: 30px;
}

#tabelaFornecedor th {
  border: 1px solid #5a493a;
  padding: 10px;
  text-align: left;
}

.option-link{
    text-decoration: none;
    font-size: 24px;
    color: var(--cream-custom);
}
