@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
:root {
    --brown-custom: #5A493A; 
    --pink-custom: #FFABC4;
    --cream-custom: #FFFEF2;
}

body{
    width: 100%;
    height: 100%;
    font-family: 'Comfortaa', cursive !important;
    background-color: var(--cream-custom) !important;
}

.navbar-brand{
    font-size: 24px !important;
}

.navbar-brand-custom{
    font-size: 36px !important;
    font-weight: bold !important;
    padding: 0px !important;
}
nav ul li div a {
    font-size:  18px;
}

.bg-brown{
    background-color: var(--brown-custom);
}
.bg-cream{
    background-color: var(--cream-custom);
}
.bg-pink{
    background-color: var(--pink-custom);
}

.welcome-header{
    margin: 40px 30px;
    font-size: 36px;
}

.relevant-section{
    background-color: var(--pink-custom);
    height: 300px;
    width: 100%;
}

.relevant-card{
    background-color: var(--cream-custom);
    border: 3px solid var(--brown-custom) ;
    border-bottom: 60px solid var(--brown-custom);
    border-radius: 23px;
    width: 360px;
    height: 200px;
}

.relevant-card-content{
    height: 140px;
    color: var(--brown-custom);
    font-size: 12px;
}
.relevant-card-footer{
    height: 60px;
    color: var(--cream-custom);
    font-size: 12px;
}
.options-section{
    padding: 60px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.option-card{
    background-color: var(--brown-custom);
    border: 10px solid var(--pink-custom);
    width: 300px;
    height: 210px;
    border-radius: 15px;
}
.navbar-custom{
    border-radius: 0px !important;
}
.container-centralizado{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.option-link{
    text-decoration: none;
    font-size: 24px;
    color: var(--cream-custom);

}
