@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
:root {
    --brown-custom: #5A493A; 
    --pink-custom: #FFABC4;
    --cream-custom: #FFFEF2;
}

body{
    font-family: 'Comfortaa', cursive !important;
    background-color: var(--cream-custom);
}

.navbar-brand{
    font-size: 36px !important;
    font-weight: bold !important;
}
nav ul li div a {
    font-size:  24px;
}

.bg-brown{
    background-color: var(--brown-custom);
}
.bg-cream{
    background-color: var(--cream-custom);
}

.welcome-header{
    margin: 60px 0 30px 40px;
}

.relevant-section{
    background-color: var(--pink-custom);
    height: 300px;
    width: 100%;
}

.relevant-card{
    background-color: var(--cream-custom);
    border: 3px solid #5A493A ;
    border-bottom: 60px solid var(--brown-custom);
    border-radius: 23px;
    width: 360px;
    height: 200px;
}

.relevant-card-content{
    height: 140px;
    color: var(--brown-custom);
    font-size: 12px;
}
.relevant-card-footer{
    height: 60px;
    color: var(--cream-custom);
    font-size: 12px;
}